<div class="loop-section">
	{{#tag}}
		<article class="loop-head">
    		<header class="loop-content-header">
       			<h2 class="home-page-header__title">{{name}}</h1>
    		</header>
		</article>
	{{/tag}}
	<div class="loop-wrap">
		{{#foreach posts to="1"}}
		<article class="item is-hero{{^is "paged"}} is-first{{/is}}{{#if feature_image}} is-image{{/if}} {{post_class}}">
			<div class="item-container global-color">
				{{#if feature_image}}
				<a href="{{url}}" class="item-image global-image global-color">
					{{>images/post_feature_img}}
				</a>
				{{/if}}
				<div class="item-content">
					{{!-- {{>members/visibility_label}} --}}
					<div class="global-meta">
						<span class="global-reading">
							{{reading_time minute=(t "1 minute read") minutes=(t "% minutes read")}}
						</span>
					</div>
					<h2 class="item-title">
					<a href="{{url}}" class="global-underline">{{title}}</a>
					</h2>
					{{^if custom_excerpt}}
					{{#if excerpt}}
					<p class="item-excerpt">
						{{excerpt words="42"}}...
					</p>
					{{/if}}
					{{else}}
					<p class="item-excerpt">
						{{custom_excerpt}}
					</p>
					{{/if}}
				</div>
			</div>
		</article>
		{{/foreach}}
		{{#foreach posts from="2"}}
		<article class="item{{#if @odd}} is-odd{{else}} is-even{{/if}}{{#if feature_image}} is-image{{/if}} {{post_class}}">
			<div class="item-container">
				{{>members/visibility_label}}
				<div class="item-content">
					{{#if feature_image}}
					<a href="{{url}}" class="item-image global-image global-color">
						{{>images/post_small_feature_img}}
					</a>
					{{/if}}
					<h2 class="item-title">
					<a href="{{url}}" class="global-underline">{{title}}</a>
					</h2>
					<div class="global-meta">
						<span class="global-reading">
							{{reading_time minute=(t "1 minute read") minutes=(t "% minutes read")}}
						</span>
					</div>
					{{^if custom_excerpt}}
					{{#if excerpt}}
					<p class="item-excerpt">
						{{#if feature_image}}
						{{excerpt words="22"}}...
						{{else}}
						{{excerpt words="28"}}...
						{{/if}}
					</p>
					{{/if}}
					{{else}}
					<p class="item-excerpt">
						{{custom_excerpt}}
					</p>
					{{/if}}
				</div>
			</div>
		</article>
		{{/foreach}}
	</div>
</div>