{{!< default}}
	<header class="loop-content-header">
    	<h2 class="home-page-header__title"><span class="typer" data-delay="50" data-delete-delay="1500" data-words="Hello.,ជំរាបសួរ.,你好.,Bonjour.,Guten Tag.,Yassas.,Namaste.,Ciao.,ສະບາຍດີ.,Hallo.,Olá.,Zdravstvuyte.,Lí-hó.,สวัสดี ครับ.,Xin Chào"></span><span class="cursor" data-owner="first-typer" style="color:#e3211a" data-cursor-display="|"></span></h1>
    </header>
	<article class="post-section">
		<div class="post-content">
			<p><strong>Mäd is a Human-Centered Design Consultancy.</strong> We design and build brands, products, and services for awesome businesses. We look beyond design to the technology, people, and processes that companies need to succeed.</p>
			<p>We work as integrated cross functional teams in our client’s business. Our team members are empowered with responsibility and liberal decision making, and given the best possible tools, support, and structure to ensure that they can Make It Happen™.</p>
			<p>We love high impact, high-quality work, but traditional approaches don’t let us pursue our ideas to the best of our abilities, so we built a place where we could work and think differently.</p>
			<p>After all, nothing great seemed sane in the beginning. Why would you build a flying machine, put a man on the moon, or cross the ocean? Sensible people at the time thought you’d fall off the edge of the earth!</p>
			<p><strong>‍Crazy helps move the world forward.</strong></p>
		</div>
	</article>
	<div class="decks">
			<div class="decks__wrapper ">
				<div class="decks__grid decks__grid--margin rellax" data-rellax-speed="-2" data-rellax-mobile-speed="-1" style="will-change: transform; transform: translate3d(0px, -20.2204px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
					<img src="/assets/about-images/1.1.png" alt="" class="decks__image decks__image--margin">
					<img src="/assets/about-images/2.1.png" alt="" class="decks__image decks__image--margin">
					<img src="/assets/about-images/3.1.png" alt="" class="decks__image decks__image--margin">
					<img src="/assets/about-images/4.1.png" alt="" class="decks__image decks__image--margin">
					<img src="/assets/about-images/5.1.png" alt="" class="decks__image decks__image--margin">
				</div>
				<div class="decks__grid decks__grid--margin rellax" data-rellax-speed="2" data-rellax-mobile-speed="1" style="will-change: transform; transform: translate3d(0px, 81.5754px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
					<img src="/assets/about-images/1.2.png" alt="" class="decks__image decks__image--margin">
					<img src="/assets/about-images/2.2.png" alt="" class="decks__image decks__image--margin">
					<img src="/assets/about-images/3.2.png" alt="" class="decks__image decks__image--margin">
					<img src="/assets/about-images/4.2.png" alt="" class="decks__image decks__image--margin">
					<img src="/assets/about-images/5.2.png" alt="" class="decks__image decks__image--margin">
				</div>
				<div class="decks__grid decks__grid--margin rellax" data-rellax-speed="-2" data-rellax-mobile-speed="-1" style="will-change: transform; transform: translate3d(0px, -20.2204px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
					<img src="/assets/about-images/1.3.png" alt="" class="decks__image decks__image--margin">
					<img src="/assets/about-images/2.3.png" alt="" class="decks__image decks__image--margin">
					<img src="/assets/about-images/3.3.png" alt="" class="decks__image decks__image--margin">
					<img src="/assets/about-images/4.3.png" alt="" class="decks__image decks__image--margin">
					<img src="/assets/about-images/5.3.png" alt="" class="decks__image decks__image--margin">
				</div>
				<div class="decks__grid decks__grid--margin rellax" data-rellax-speed="2" data-rellax-mobile-speed="1" style="will-change: transform; transform: translate3d(0px, 81.5754px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
					<img src="/assets/about-images/1.4.png" alt="" class="decks__image decks__image--margin">
					<img src="/assets/about-images/2.4.png" alt="" class="decks__image decks__image--margin">
					<img src="/assets/about-images/3.4.png" alt="" class="decks__image decks__image--margin">
					<img src="/assets/about-images/4.4.png" alt="" class="decks__image decks__image--margin">
					<img src="/assets/about-images/5.4.png" alt="" class="decks__image decks__image--margin">
				</div>
				<div class="decks__grid decks__grid--margin rellax" data-rellax-speed="-2" data-rellax-mobile-speed="-1" style="will-change: transform; transform: translate3d(0px, -20.2204px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
					<img src="/assets/about-images/1.5.png" alt="" class="decks__image decks__image--margin">
					<img src="/assets/about-images/2.5.png" alt="" class="decks__image decks__image--margin">
					<img src="/assets/about-images/3.5.png" alt="" class="decks__image decks__image--margin">
					<img src="/assets/about-images/4.5.png" alt="" class="decks__image decks__image--margin">
					<img src="/assets/about-images/5.5.png" alt="" class="decks__image decks__image--margin">
				</div>
				<div class="decks__grid decks__grid--margin rellax" data-rellax-speed="2" data-rellax-mobile-speed="1" style="will-change: transform; transform: translate3d(0px, -20.2204px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
					<img src="/assets/about-images/1.6.png" alt="" class="decks__image decks__image--margin">
					<img src="/assets/about-images/2.6.png" alt="" class="decks__image decks__image--margin">
					<img src="/assets/about-images/3.6.png" alt="" class="decks__image decks__image--margin">
					<img src="/assets/about-images/4.6.png" alt="" class="decks__image decks__image--margin">
					<img src="/assets/about-images/5.6.png" alt="" class="decks__image decks__image--margin">
				</div>
				<div class="decks__grid decks__grid--margin rellax" data-rellax-speed="-2" data-rellax-mobile-speed="-1" style="will-change: transform; transform: translate3d(0px, -20.2204px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
					<img src="/assets/about-images/1.7.png" alt="" class="decks__image decks__image--margin">
					<img src="/assets/about-images/2.7.png" alt="" class="decks__image decks__image--margin">
					<img src="/assets/about-images/3.7.png" alt="" class="decks__image decks__image--margin">
					<img src="/assets/about-images/4.7.png" alt="" class="decks__image decks__image--margin">
					<img src="/assets/about-images/5.7.png" alt="" class="decks__image decks__image--margin">
				</div>
			</div>
	</div>
{{#post}}
<article class="post-section">
	<div class="post-content">
		{{content}}
	</div>
</article>
{{/post}}