{{!< default}}
{{#get "tags" limit="all" filter="visibility:public" include="count.posts" order="count.posts desc" as |tags|}}
{{#if tags}}
<div class="custom-elements-wrap loop-wrap">
	{{#foreach tags to="3"}}
	<div class="custom-element">
		{{#if feature_image}}
		<a href="{{url}}" class="global-image">
			{{>images/tag_author_img tag_author_image=feature_image}}
		</a>
		{{else}}
		<a href="{{url}}" class="no-image">
			{{>icons/site/picture}}
		</a>
		{{/if}}
		<h2><a href="{{url}}" class="global-underline global-tags-hash-sign">{{name}}</a></h2>
		<span>{{plural count.posts empty=(t "No posts") singular=(t "1 post") plural=(t "% posts")}}</span>
	</div>
	{{/foreach}}
	<h4 class="custom-element-heading global-heading">{{t "See also"}}</h4>
	{{#foreach tags from="4"}}
	<div class="custom-element bottom">
		{{#if feature_image}}
		<a href="{{url}}" class="global-image">
			{{>images/tag_author_img tag_author_image=feature_image}}
		</a>
		{{else}}
		<a href="{{url}}" class="no-image">
			{{>icons/site/picture}}
		</a>
		{{/if}}
		<h2><a href="{{url}}" class="global-underline global-tags-hash-sign">{{name}}</a></h2>
		<span>{{plural count.posts empty=(t "No posts") singular=(t "1 post") plural=(t "% posts")}}</span>
	</div>
	{{/foreach}}
</div>
{{/if}}
{{/get}}