{{!< default-custom}}
{{#post}}
{{#contentFor "custom_meta_title"}}{{#if meta_title}}{{meta_title}}{{else}}{{t "Subscribe"}}{{/if}}{{/contentFor}}
<div class="custom-wrap">
	{{#if feature_image}}
	<div class="custom-image global-bg-image" style="background-image: url({{feature_image}})"></div>
	{{/if}}
	<div class="custom-container">
		<div class="custom-logo">
			{{#if @site.logo}}
			<a class="is-image" href="{{@site.url}}"><img src="{{@site.logo}}" alt="{{@site.title}}"></a>
			{{else}}
			<a class="is-title" href="{{@site.url}}">{{@site.title}}</a>
			{{/if}}
		</div>
		<div class="custom-content">
			<form data-members-form="subscribe">
				<h1>{{title}}</h1>
				<label for="name">{{t "Your name"}}</label>
				<input data-members-name id="name" type="text" required>
				<label for="subscribe">{{t "Email address"}}</label>
				<input data-members-email id="subscribe" type="email" required>
				<button class="global-button" type="submit">{{t "Subscribe"}}</button>
				<small class="alert-loading">{{t "Processing your application"}}</small>
				<small class="alert-error">{{t "There was an error sending the email"}}</small>
			</form>
			<div class="alert-success">
				<h2>{{t "Great!"}}</h2>
				<p>{{t "Check your inbox and click the link to confirm your subscription"}}</p>
				<a href="{{@site.url}}" class="global-button">{{t "Back to homepage"}}</a>
			</div>
		</div>
	</div>
</div>
{{/post}}