{{!< default}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}

{{#is "home"}}
    {{#if @site.description}}
    <header class="home-page-header">
        <h2 class="home-page-header__title--home">We help our clients<br><span class="typer" data-delay="50" data-delete-delay="1500" data-words="make meaningful change.,refine the purpose of their business.,create products that people will actually use.,launch websites that exceed goals.,craft brands that resonate with customers.,understand their market deeply.,work remotely.,clarify their processes.,improve their internal processes.,achieve more with less.,design the end-user experience.,differentiate themselves.,create value.,connect the dots.,Make It Happen.™"></span><span class="cursor" data-owner="first-typer" style="color:#e3211a" data-cursor-display="|"></span></h2>
    </header>
    {{/if}}
{{/is}}