{{#if @labs.members}}
{{#if @member}}
<li class="account"><a href="{{@site.url}}/account/">{{t "Account"}}</a></li>
<li class="signout"><a href="#" data-members-signout>{{t "Sign out"}}</a></li>
{{else}}
<li class="signup global-button"><a href="{{@site.url}}/signup/">{{t "Register for free"}}</a></li>
<li class="signin"><a href="{{@site.url}}/signin/">{{t "Sign in"}}</a></li>
{{/if}}
{{/if}}