<div class="membership-card yearly">
	<div class="membership-card-content">
		<h2 class="membership-card-title">{{t "Yearly"}}</h2>
		<h4 class="membership-card-price"><sup>{{price plan currency=@price.currency}}</sup>{{@price.yearly}}</h4>
		<div class="membership-card-options">
			<ul>

				{{!-- Here you can add your feature list --}}
				
				<li>Full access to all premium posts</li>
				<li>Weekly email newsletter</li>
				<li>Support independent publishing</li>
				<li>Simple, secure card payment</li>
				<li>One easy payment instead of 12!</li>
				<li>No advertising</li>
				
			</ul>
		</div>
	</div>
	<a href="#" class="global-button" data-members-plan="Yearly">{{t "Subscribe now"}}</a>
</div>