<div class="membership-card monthly">
	<div class="membership-card-content">
		<h2 class="membership-card-title">{{t "Monthly"}}</h2>
		<h4 class="membership-card-price"><sup>{{price plan currency=@price.currency}}</sup>{{@price.monthly}}</h4>
		<div class="membership-card-options">
			<ul>
				
				{{!-- Here you can add your feature list --}}

				<li>Full access to all premium posts</li>
				<li>Weekly email newsletter</li>
				<li>Support independent publishing</li>
				<li>Simple, secure card payment</li>
				<li>No advertising</li>
				
			</ul>
		</div>
	</div>
		<a href="#" class="global-button" data-members-plan="Monthly">{{t "Subscribe now"}}</a>
</div>