{{^has visibility="public"}}
<span class="global-members-label">
	{{#has visibility="paid"}}
	{{t "Paid-members"}}
	{{/has}}
	{{#has visibility="members"}}
	{{t "Members"}}
	{{/has}}
</span>
{{/has}}