<img srcset="{{img_url feature_image size="m"}} 500w, 
			 {{img_url feature_image size="l"}} 800w,
			 {{img_url feature_image size="xl"}} 1100w"
	 sizes="(max-width:480px) 240px, (max-width:768px) 200px, (max-width:1024px) 290px, 350px"
	 src="{{img_url feature_image size="m"}}"
	 loading="lazy"
	 alt="{{title}}">